.navigation ul{
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}

.navigation li{
  font-weight: 100;
  letter-spacing: 2px;
}

#banner{
  background-color: #b3b3b3;
  height: 100px;
}

#banner .content h1{

  position: relative;
  top: 27px;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: white;
}

h2{
  text-align: center;
}
