h1.title {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

main {
  margin-right: 400px;
  margin-left: 400px;
  text-align: center;
  box-sizing: border-box;
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding-bottom: 20px;
}

footer{
  text-align: center;
}

header {
  text-align: center;
}
header ul {
  text-align: center;
}
header li {
  background: #66ffff;
  display: inline-block;
  padding: 14px;
  border-radius: 5px;
}

header a{
  color: black;
}

header li a:hover{
  background: #3333cc;
  border: 1px solid black;
  color: white;
}

footer li{
	text-align: center;
  background: #66ffff;
  display: inline-block;
  padding: 12px;
  border-top-color: 3px;
}
